<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NBJ Contracting Inc</title>
    </head>
    <body>
    {% extends 'base.html' %}
    {% block content %}
    <div class="hero-body">
        <div class="container has-text-centered">
          <img src="https://i.imgur.com/1GuuIYj.png" width="100%" height="100%">
          <h2 class="subtitle">
          </h2>
        </div>
      </div>
    </section>
    <section class="blog-posts">
      <div class="container">
        <div class="columns">
          <div class="column is-10 is-offset-1">
            <div class="columns featured-post is-multiline">
              <div class="column is-12 post">
                <article class="columns featured">
                  <div class="column is-7 post-img ">
                    <img src="https://i.imgur.com/p9Ch12A.jpg" alt="">
                  </div>
                  <div class="column is-5 featured-content va">
                    <div>
                      <h3 class="heading post-category">Brick Work</h3>
                      <h1 class="title post-title">Front Brick Fence </h1>
                      <p class="post-excerpt">This is a Brick fence we built in front of the house replacing the old metal fence. This brick design is called laton. The brick used here is a custom order with yellow brick.</p>
                      <br>
                      <a href="/projects" class="button is-primary">See More</a>
                    </div>
  
                  </div>
                </article>
              </div>
            </div>
            <hr>
            <div class="columns is-multiline">
              <div class="column post is-6">
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    <img src="https://i.imgur.com/7TNjhR4.jpg" alt="Featured Image">
                  </div>
                  <div class="column is-12 featured-content ">
                    <h3 class="heading post-category">Stucco</h3>
                    <h1 class="title post-title">Stucco around house</h1>
                    <p class="post-excerpt">For this project we had to do stucco all around the house including the front fasade, sides and back of the house. We installed square 3 inch moldings around the windows and doors. We then done a smooth Meadowbrook stucco all around the exterior of the house.</p>
                    <br>
                    <a href="/projects" class="button is-primary">See More</a>
                  </div>
                </article>
              </div>
              <div class="column post is-6">
                <article class="columns is-multiline">
                  <div class="column is-12 post-img">
                    <img src="https://i.imgur.com/AYRdPHy.jpg" alt="Featured Image">
                  </div>
                  <div class="column is-12 featured-content ">
                    <h3 class="heading post-category">Pavers</h3>
                    <h1 class="title post-title">Backyard Pavers</h1>
                    <p class="post-excerpt"> </br>For this project we installed Octagon Pavers with Cascade Blend Circle Paver in the backyard. We first demoed the old concrete. Then we made level and the necessary pitch for water movement to gutters. We the installed a concrete base. Afterwards we installed the pavers. </p>
                    <br>
                    <a href="/projects" class="button is-primary">See More</a>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
  
    </section>
    {% endblock %}
    </body>
</html>