


{% extends 'base.html' %} 
{% block content %}
{% for work in projects.work.all %}

<p class="title is-2">{{projects.typeofwork}}</h1>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="{{work.img}}" alt="{{work.name}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-3">{{work.name}}</p>
        <p class="subtitle is-6">Catagory: {{projects.typeofwork}}</p>
      </div>
    </div>
    <p class="title is-6">Description:</h1>
    <div class="content">
      {{work.desc}}
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}