{% extends 'base.html' %} {% block content %}

<h1 class="title">Projects</h1>

<div class="gallery">
  {% for project in projects %}

  <a href="{% url "manywork_detail" project.pk %}"> butttonnnnn </a>
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{project.img}}" alt="{{project.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{project.typeofwork}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>

{% endblock %}